body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("https://a.travel-assets.com/findyours-php/viewfinder/images/res70/245000/245511-Chiapas.jpg")
    no-repeat center center / cover;
  color: #0d2e2e;
  overflow-x: hidden;
}

/* CONTENEDOR PRINCIPAL */
.container-mapa {
  padding: 130px 80px 60px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  max-width: 1100px;
  margin: 100px auto;
  text-align: center;
}

/* TÍTULO */
.container-mapa h1 {
  color: #ff9100;
  font-style: italic;
  font-size: 2.8rem;
  margin-bottom: 40px;
}

/* MAPA */
.container-mapa iframe {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 400px;
}

/* IMAGEN */
.imagen {
  margin-top: 30px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* DESCRIPCIÓN */
.descripcion {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s ease-in-out;
}
