body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("https://a.travel-assets.com/findyours-php/viewfinder/images/res70/245000/245511-Chiapas.jpg")
    no-repeat center center / cover;
  color: #0d2e2e;
  overflow-x: hidden;
}

.container-tradiciones {
  padding: 130px 80px 60px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  max-width: 1100px;
  margin: 100px auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #ff9100;
  margin-bottom: 10px;
}

.intro {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 30px;
  color: #333;
}

.grid-tradiciones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.tarjeta {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.tarjeta:hover {
  transform: scale(1.03);
}

.tarjeta img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.tarjeta h3 {
  color: #0d2e2e;
  margin-bottom: 10px;
}

.tarjeta p {
  font-size: 0.9rem;
  color: #333;
}

.extra-info {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  line-height: 1.7;
}
